#imagem1{
    width:100%;
}

#imagem2{
    width:20%
}

#imagem3{
    width:20%
}

#imagem4{
    width:20%
}

p {
    text-align:justify;
}

h1 {
tex-align:ceter;
color:bisque;
border-width:10px;
border-style:solid;
border-color:black;
}



